<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue_test_1</title>
    <script src="./../js/vue.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
    <div id="app">
        {{ message }}

        <span v-if="seen">Now you seen me</span>

        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>

        <button v-on:click="reverseMessage">ReverseMessage</button>
        <br />
        修改message内容: <input v-model="message">
        <br />
        <span v-bind:title="news">
            鼠标悬停显示此处动态绑定的title提示信息
        </span>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue',
                seen: true,
                todos: [
                    { text: 'Learn JavaScript' },
                    { text: 'Learn Vue' },
                    { text: 'Come on' }
                ],
                news: '页面加载于' + new Date().toLocaleString()
            },
            methods: {
                reverseMessage: function () {
                    this.message = this.message.split('').reverse().join('')
                }
            }
        })

        // 修改 message内容
        app.message = 'I had changed message.'
        // 隐藏seen的内容
        app.seen = false
        // todos数组中添加内容
        app.todos.push({ text: 'New item' })
    </script>
</body>

</html>