<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>选择框</title>
    <script src="../../../js/vue.js"></script>
</head>
<body>

    <div id="example-5">
        <select v-model="selected">
            <option disabled value="">请选择</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <span>Select: {{ selected }}</span>
    </div>

    <div id="example-6">
        <select v-model="selected" multiple style="width: 50px">
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <br>
        <span>Selected: {{selected}}</span>
    </div>

    <script>
        new Vue({
            el: "#example-5",
            data: {
                selected: ''
            }
        })

        new Vue({
            el: "#example-6",
            data: {
                selected: []
            }
        })
    </script>
    
</body>
</html>